<!DOCTYPE html>
<html>
<head>
	<title>Accounts</title>
	<style type="text/css">
tbody div{
    overflow:scroll;
    height:100px;
}
</style>
</head>
<body>
<table border="1">
				<thead>
					<tr>
						<th width="200">Account ID</th>
						<th width="200">Name</th>
						<th width="200">Type</th>
						<th width="200">Status</th>
						<th width="200">Parent Account ID</th>
						<th width="200">Parent Account</th>
					</tr>
					</thead>
<!-- 
    <thead>
        <tr>
            <th width="200">Month</th>
            <th>Savings</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>Sum</td>
            <td>$180</td>
        </tr>
    </tfoot>
-->
    <tbody>
        <tr>
            <td colspan="6">
        <div class="scrollit">
            <table>
                <tr th:each="acct : ${accounts}">
						<td width="200"><span th:text="${acct.acctId}"></span></td>
						<td width="200"><span th:text="${acct.acctName}"></span></td>
						<td width="200"><span th:text="${acct.acctType}"></span></td>
						<td width="200"><span th:text="${acct.status}"></span></td>
						<td width="200"><span th:text="${acct.parentAcctId}"></span></td>
						<td width="200"><span th:text="${acct.parentAcctName}"></span></td>
                </tr>
            </table>
        </div>
                </td>
        </tr>
    </tbody>
</table>





















</body>
</html>
